.brands {
  border-top: 1px solid rgba(245, 242, 248, 0.25);
  border-bottom: 1px solid rgba(245, 242, 248, 0.25);
  background: linear-gradient(0deg, #0b133b 0%, #0b133b 100%),
    rgba(41, 54, 119, 0.2);
  backdrop-filter: blur(2px);
}
